/* styles.css */
.features-text {
    font-size: 16px;
    color: rgb(230, 232, 240); /* Cambia el color de texto según tus preferencias */
    /* Otros estilos CSS aquí */
  }
  .features-title {
    font-size: 16px;
    color: rgb(230, 232, 240); /* Cambia el color de texto según tus preferencias */
    /* Otros estilos CSS aquí */
  }
  /* styles.css */
.custom-title {
    font-size: 24px; /* Tamaño de fuente personalizado */
    color: #333; /* Color de texto personalizado */
    /* Otros estilos personalizados */
  }
  
  